@model IEnumerable<KurumsalWeb2.Models.Model.Hizmet>
@{
    ViewBag.Title = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section class="portfolio">
    <div class="container">

       

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">



            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
                    <div class="portfolio-item">
                        <img src="@item.ResimURL"  width="416" height="251" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3>@item.Baslik</h3>
                            <div>
                                <a href="@item.ResimURL" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Aciklama"><i class="bx bx-plus"></i></a>
                                <a href="@item.ResimURL" title=""><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                    }

            </div>

    </div>
</section>

